<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adviseriltc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".News" android:screenOrientation="portrait"/>
        <activity android:name=".SignIn" android:screenOrientation="portrait"/>
        <activity android:name=".SignUp" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"
            android:label="YourAppName"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calendar" android:screenOrientation="portrait"/>
        <activity android:name=".Games" android:screenOrientation="portrait"/>
        <activity android:name=".Random_game" android:screenOrientation="portrait"/>
        <activity android:name=".Profile" android:screenOrientation="portrait"/>
        <activity android:name=".Settings" android:screenOrientation="portrait"/>
        <activity android:name=".Current_Game" android:screenOrientation="portrait"
            android:usesCleartextTraffic="true"/>
    </application>

</manifest>